name: devworkspace_generic
services:
    terminal:
        build: .
        image: publishpress/dev-workspace-terminal:generic-5.0.0
        command: ["/bin/zsh", "-l"]
        stdin_open: true
        tty: true
        working_dir: "/project"
        environment:
            - PLUGIN_NAME=${PLUGIN_NAME:-Base Image}
            - PLUGIN_TYPE=${PLUGIN_TYPE:-GENERIC}
        volumes:
            - ./tests:/tests
            - ./tests/fake-plugin:/project
            - ./scripts:/scripts
