name: devworkspace_generic
services:
    terminal:
        build: .
        image: publishpress/dev-workspace-terminal:generic-5.1.3
        command: ["/bin/zsh", "-l"]
        stdin_open: true
        tty: true
        working_dir: "/project"
        volumes:
            - ./tests:/tests
            - ./tests/fake-plugin:/project
            - ./scripts:/scripts
